.container {
    width: 100%;
}
.button-container {
    display: flex;
    justify-content: right;
}

.add-button {
    width: 200px;
    margin-left: auto;

    .icon {
        margin-right: 20px;
    }
}

.cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.card-header {
    display: flex;
    justify-content: space-between;
}
:host ::ng-deep {
    mat-label,
    .input {
        color: black;
    }
}
