/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif !important;
}

* {
    font-family: 'Montserrat', sans-serif !important;
}

a {
    color: black;
    text-decoration: none;
}
.material-icons {
    font-family: 'Material Icons' !important;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
    width: 100%;
    background: #ffdd2d;
    color: black;
}

.mat-form-field {
    width: 100%;
}
